
<body>

<!-- DONT FORGET THE METADATA-->
<meta name="keywords" content="ocean, volcaones, mid-ocean ridge, plate tectonics, Ring of Fire, NOS, National Ocean Service, NOAA, National Oceanic and Atmospheric Administration">
<!-- THERE IS ONE TITLE -->
<meta name="DC.title" content="Do volcanoes occur in the ocean?">
<!-- AND TWO DESCRIPTIONS-->
<meta name="DC.description" content="The greatest number of the Earth's volcanoes occur on the ocean floor">
<meta name="description" content="The greatest number of the Earth's volcanoes occur on the ocean floor">
<meta name="DC.creator" content="US Department of Commerce, National Oceanic and Atmospheric Administration">
<meta name="DC.date.created" scheme="ISO8601" content="2009-01-01">

<meta name="DC.language" scheme="DCTERMS.RFC1766" content="EN-US">

</div>



</body>
